body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #4568dc 0%, #b06ab3 100%) center no-repeat;
  height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Roboto", sans-serif;
}

.App {
  background-color: #fff;
  border-radius: 3px;
  margin: 12px auto;
  max-width: 300px;
}

.container {
  position: relative;
  padding: 14px 11px 24px;
}

.field {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.field__item {
  border: 1px solid #ddd;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.ticket {
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}

.fill {
  display: inline-block;
  margin-top: 12px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 400;
}

.fill-small,
.fill-big {
  margin-top: 0;
  margin-left: 8px;
  font-weight: 300;
}

.button {
  display: flex;
  padding: 13px 21px 13px 26px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 40px;
  font-size: 14px;
  text-align: center;
  color: #000000;
  opacity: 0.64;
  cursor: pointer;
  margin: 23px auto 0;
}

.result {
  display: inline-block;
  margin-top: 12px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
  height: 289px;
}

.wand {
  position: absolute;
  display: inline-block;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.field__item--checked {
  background: yellow;
}

.err {
  border-bottom: 1px solid red;
}
